.Search {
  input[type=text] {
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 2rem;
    padding: 0.4rem 1.2rem;
    outline: none;
    transition: padding .2s ease-in-out;

    &:focus {
      padding: 0.8rem 1.6rem;
    }
  }
}